
.darken{
    background:rgba(0,0,0,0.3); 
}

.popup{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%; 
    height: 20%;
    z-index: 2; 
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    background-color: #dfdfdf;
    border-style: solid;
    z-index: 1;  
    display: flex;
}


.section-title {
    height: 32px;
    padding-left: 8px;
    padding-right: 8px;
    font-family: Lora, 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif;
    font-variant: small-caps;
    font-weight: bold;
    background-color: inherit;
    color: rgb(240, 17, 17);
    font-size: 16pt;
    border-style: solid;
}

.section-content{
    color: orange;
    border-style: solid;
}

.section-row{
    color: black;
    border-style: solid;
}

.section-container {
    border: 8px solid;
    border-radius: 8px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    /* font-family: Arial; */
    font-family: 'Noto Sans', 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
    width: 100%;
    margin-bottom: 8px;
    page-break-inside: avoid;
}

.item {
    margin-bottom: 8px;
    float: left;
    display: flex;
    font-size: inherit;
    vertical-align: top;
    box-sizing: border-box;
}

.item-icon {
    color: aquamarine;
    border-style: solid;
    float: left;
    flex: 0 0 auto;
    background-repeat: no-repeat;
    background-size: contain;
    box-sizing: border-box;
    border-radius: 4px;
    display: inline-block;
    margin-right: 4px;
}

.icon-run {
    background-image: url("./img/run.png");
}

#section-movement .item-icon {
    background-color: maroon;
    border-color: maroon;
}

.iconsize {
    width: 40px;
    height: 40px;
}